*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;

}

header{
  display: flex;
  align-items: center;
  width: 100%;
  height: 220px;
  
  justify-content: center;
  
}

.right-bar{
  display:flex;
  list-style: none;
  justify-content: flex-start;
  
  
  


}

.bar{
  display: flex;
  list-style: none;
}

.list{
  margin:59px

}